/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*Header renk ayarı*/
.horizontal-menu .header-navbar {
	background: #283046;
	z-index: 999 !important;
	line-height: 1;
	min-height: auto; }



/*Menu de ve header da bulunan yazıların renk ayarı - a tag'lerin class başına special ismi verildi*/
.header-navbar .navbar-container ul.navbar-nav li a.special {
	color: white;
	padding: 0 0.5rem;
	position: relative; }

/*Ana sayfa, hakkımızda vb. tuşların gölgelendirme kodları*/
.horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation > li:hover > a {
	background: #7367f0;
	color: white;
	border-radius: 4px; }


.main-menu.menu-dark {
	color : #DCDCDC;
	background : #283046;
}
	  
.main-menu.menu-dark .navigation {
	background : #283046;
}

.main-menu.menu-light .navigation > li .active {
	background : #7367f0;
}

.main-menu.menu-dark .navigation > li .active {
	background : #7367f0;
}

/************************************* Main menu settings *************************************/
/*
.main-menu.menu-dark {
	color : #DCDCDC;
	background : #283046;
  }
  
  .main-menu.menu-dark .navigation {
	background : #283046;
  }
  
  .main-menu.menu-dark .navigation .navigation-header {
	color : #283046;
	margin : calc(2rem + 0.286rem) 0 0.8rem 2.2rem;
	padding : 0;
	line-height : 1.5;
	letter-spacing : 0.01rem;
  }
  
  .main-menu.menu-dark .navigation .navigation-header span {
	font-weight : 500;
  }
  
  .main-menu.menu-dark .navigation li.has-sub > a {
	transition : all 0.5s ease, background 0s, color 0s;
  }
  
  .main-menu.menu-dark .navigation li a {
	color : #D0D0D0;
	padding : 10px 15px 10px 15px;
	line-height : 1.45;
  }
  
  .main-menu.menu-dark .navigation li a span.menu-sub-title {
	color : white;
  }
  
  .main-menu.menu-dark .navigation li a > * {
	transition : transform 0.25s ease;
  }
  
  .main-menu.menu-dark .navigation li.nav-item a:hover > * {
	transition : transform 0.25s ease;
	transform : translateX(5px);
  }
  
  .main-menu.menu-dark .navigation li.nav-item ul.menu-content li a:hover > * {
	transition : transform 0.25s ease;
	transform : translateX(5px);
  }
  
  .main-menu.menu-dark .navigation > li > a {
	margin : 0 15px;
  }
  
  .main-menu.menu-dark .navigation > li > a .label {
	margin-top : 4px;
	margin-right : 5px;
  }
  
  .main-menu.menu-dark .navigation > li > a i, .main-menu.menu-dark .navigation > li > a svg {
	position : relative;
	top : 1px;
  }
  
  .main-menu.menu-dark .navigation > li > ul li:first-of-type {
	margin-top : 7px !important;
  }
  
  .main-menu.menu-dark .navigation > li > ul li:not(.has-sub) {
	margin : 0 15px;
  }
  
  .main-menu.menu-dark .navigation > li > ul li.has-sub > a {
	margin : 0 15px;
  }
  
  .main-menu.menu-dark .navigation > li > ul li.has-sub > ul > li {
	margin : 0 15px;
  }
  
  .main-menu.menu-dark .navigation > li.open:not(.menu-item-closing) > a, .main-menu.menu-dark .navigation > li.sidebar-group-active > a {
	color : #C3C3C3;
	background : #283046;
	border-radius : 6px;
  }
  
  .main-menu.menu-dark .navigation > li:not(.open) > ul {
	display : none;
  }
  
  .main-menu.menu-dark .navigation > li:not(.open) > ul .active {
	background : transparent;
	box-shadow : none;
  }
  
  .main-menu.menu-dark .navigation > li.active {
	z-index : 1;
  }
  
  .main-menu.menu-dark .navigation > li.active > a {
	background : linear-gradient(118deg, #7367F0, rgba(115, 103, 240, 0.7));
	box-shadow : 0 0 10px 1px rgba(115, 103, 240, 0.7);
	color : #FFFFFF;
	font-weight : 400;
	border-radius : 4px;
  }
  
  .main-menu.menu-dark .navigation > li .active {
	background : #090D22;
  }
  
  .main-menu.menu-dark .navigation > li .active > a {
	color : #7367F0;
	margin-bottom : 0;
  }
  
  .main-menu.menu-dark .navigation > li .active .hover > a, .main-menu.menu-dark .navigation > li .active :hover > a {
	background : #283046;
  }
  
  .main-menu.menu-dark .navigation > li ul {
	padding : 0;
	margin : 0;
  }
  
  .main-menu.menu-dark .navigation > li ul li {
	color : #DCDCDC;
	background : transparent;
  }
  
  .main-menu.menu-dark .navigation > li ul li > a {
	padding : 10px 15px 10px 20px;
  }
  
  .main-menu.menu-dark .navigation > li ul li ul a {
	padding : 10px 15px 10px 53px;
  }
  
  .main-menu.menu-dark .navigation > li ul .has-sub:not(.open) > ul {
	display : none;
  }
  
  .main-menu.menu-dark .navigation > li ul .has-sub:not(.open) > ul .active {
	background : transparent;
	box-shadow : none;
  }
  
  .main-menu.menu-dark .navigation > li ul .open > a, .main-menu.menu-dark .navigation > li ul .sidebar-group-active > a {
	color : #DCDCDC;
	background : #283046;
	border-radius : 6px;
  }
  
  .main-menu.menu-dark .navigation > li ul .open > ul, .main-menu.menu-dark .navigation > li ul .sidebar-group-active > ul {
	display : block;
  }
  
  .main-menu.menu-dark .navigation > li ul .open > ul .open > ul, .main-menu.menu-dark .navigation > li ul .sidebar-group-active > ul .open > ul {
	display : block;
  }
  
  .main-menu.menu-dark .navigation > li ul .hover > a, .main-menu.menu-dark .navigation > li ul:hover > a {
	color : #E6E6E6;
  }
  
  .main-menu.menu-dark .navigation > li ul .active {
	background : linear-gradient(118deg, #7367F0, rgba(115, 103, 240, 0.7));
	box-shadow : 0 0 10px 1px rgba(115, 103, 240, 0.7);
	border-radius : 4px;
	z-index : 1;
  }
  
  .main-menu.menu-dark .navigation > li ul .active > a {
	color : #FFFFFF;
  }

  */
