<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="inc/layout"
       class="loading semi-dark-layout" lang="en" data-layout="semi-dark-layout" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Announcement</title>

    <!------------------------------------------------------ CSS - Start ------------------------------------------------------>

    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/forms/select/select2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-validation.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/katex.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/monokai-sublime.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/quill.snow.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/quill.bubble.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-quill-editor.css}">

    <!------------------------------------------------------ CSS - End ------------------------------------------------------>

</head>


<body>

<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <!-- Basic Tables start -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div class="buttons">
                                    <label>
                                        Show
                                        <select class="custom-select form-control" id="announcement_pagesize">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </label>
                                    <button class="dt-button btn btn-primary ml-2" tabindex="0" type="button"
                                        data-toggle="modal" data-target="#customer_form_modal" id="announcement_form_modal_button">
                                        <span><i class="fas fa-plus"></i> Add New</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>
                                            Status
                                            <select class="custom-select form-control" id="announcement_status">
                                                <option value="Active">Active</option>
                                                <option value="Passive">Passive</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-md-8 mt-1">
                                        <input type="text" class="form-control" id="announcement_search"
                                            placeholder="Search">

                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Detail</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody style="font-size: 14px;" id="tBodyAnnouncements">
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="pagination firstLast1-links justify-content-end " id="announcement_pagination"></ul>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <!-- Modal -->
    <div class="modal fade text-left" id="announcement_form_modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel16" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="announcement_form_modal_title">New Announcement</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Basic multiple Column Form section start -->
                    <section id="multiple-column-form">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <form class="needs-validation invalid" id="announcement_add_form" novalidate>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="title">Title</label>
                                                        <input type="text" id="title" class="form-control"
                                                            placeholder="Title" name="title" required />
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please enter your firstname.</div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <!-- Snow Editor start -->

                                                        <div>
                                                            <div id="snow-wrapper">
                                                                <div id="snow-container">
                                                                    <div class="editor" style="height: 100px;" id="detail">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Snow Editor end -->
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-md-8"></div>
                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                <div class="col-md-2"></div>
                                                                <div class="col-md-10">
                                                                    <button type="reset"
                                                                        class="btn btn-outline-secondary">Reset</button>
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Basic Floating Label Form section end -->
                </div>

            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel16" class="modal fade text-left" data-backdrop="static"
         id="announcement_detail_modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="announcement_detail_modal_title"></h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Basic multiple Column Form section start -->
                    <section>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row" id="image_modal_row">
                                            <p id="detail_detail"></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Basic Floating Label Form section end -->
                </div>

            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="contentJs">

    <!------------------------------------------------------ Pagination Js - Start -------------------------------------------------------->
        <script th:src="@{/app-assets/vendors/js/pagination/jquery.bootpag.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/pagination/jquery.twbsPagination.min.js}"></script>
        <script th:src="@{/app-assets/js/scripts/pagination/components-pagination.js}"></script>
    <!------------------------------------------------------ Pagination Js - End ---------------------------------------------------------->

    <!------------------------------------------------------ Select Js - Start ---------------------------------------------------------->

        <script th:src="@{/app-assets/vendors/js/forms/select/select2.full.min.js}"></script>
        <script th:src="@{/app-assets/js/scripts/forms/form-select2.js}"></script>

    <!------------------------------------------------------ Select Js - End ---------------------------------------------------------->

    <!------------------------------------------------------ Valdiation Js - Start -------------------------------------------------------->

        <script th:src="@{/app-assets/vendors/js/forms/validation/jquery.validate.min.js}"></script>
        <script th:src="@{/app-assets/js/scripts/forms/form-validation.js}"></script>

    <!------------------------------------------------------ Valdiation Js - End -------------------------------------------------------->

    <!------------------------------------------------------ Quill Editor Js - Start -------------------------------------------------------->

        <script th:src="@{/app-assets/vendors/js/editors/quill/katex.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/editors/quill/highlight.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/editors/quill/quill.min.js}"></script>
        <script th:src="@{/app-assets/js/scripts/forms/form-quill-editor.js}"></script>

    <!------------------------------------------------------  Quill Editor Js - End -------------------------------------------------------->

    <script th:src="@{/mainJs/announcement.js}"></script>

</th:block>

</body>
</html>