<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout"
      class="loading semi-dark-layout" lang="en" data-layout="semi-dark-layout" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Contents</title>


    <!------------------------------------------------------ Editor CSS - Start ------------------------------------------------------>
        <link rel='stylesheet' href='https://cdn.quilljs.com/1.0.0/quill.snow.css'>
    <!------------------------------------------------------ Editor CSS - End -------------------------------------------------------->

    <!------------------------------------------------------ Sweet Alerts CSS - Start ------------------------------------------------------>
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/animate/animate.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/extensions/sweetalert2.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/extensions/ext-component-sweet-alerts.css}">
    <!------------------------------------------------------ Sweet Alerts CSS - End -------------------------------------------------------->

</head>

<!-- BEGIN: Body-->
<body>

<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <!-- Basic Inputs start -->
        <section id="basic-input">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Add Content</h4>
                        </div>
                        <div class="card-body">
                            <form id="contents_form">

                                <div class="row">
                                    <div class="col-xl-4 col-md-6 col-12 mb-1">
                                        <div class="form-group">
                                            <label for="title">Title</label>
                                            <input type="text" class="form-control" id="title" placeholder="Enter title" />
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 col-12 mb-1">
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <input type="text" class="form-control" id="description" placeholder="Enter description" />
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 col-12 mb-1">
                                        <label for="status">Status</label>
                                        <select class="form-control" id="status">
                                            <option value="active" selected>Active</option>
                                            <option value="passive">Passive</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-sm-12">
                                        <label for="quillEditor">Details</label>
                                        <div id="quillEditor" style="height: 100px;"></div>
                                    </div>

                                    <div class="col-12 mt-2">
                                        <button type="button" class="btn btn-primary mr-1" id="type-success">Submit</button>
                                        <button type="reset" class="btn btn-outline-secondary">Reset</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic Inputs end -->

        <!-- Basic Tables start -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-9">
                                <div class="buttons">
                                    <label>
                                        Show
                                        <select class="custom-select form-control" id="showTableRow">
                                            <option value=10>10</option>
                                            <option value=25>25</option>
                                            <option value=50>50</option>
                                            <option value=100>100</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="buttons">
                                    <input type="text" class="form-control" id="searchContent" placeholder="Search Content">
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 14px;" id="contentTable">


                            </tbody>
                        </table>
                    </div>
                </div>
                <ul id="content_pagination" class="pagination firstLast1-links justify-content-end "></ul>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade modal-info text-left" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel130" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="content_title">Info Modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label  class="form-label">Content No</label>
                                <div style="color: black"  id="content_no" class="form-text"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label  class="form-label">Content Description</label>
                                <div style="color: black"  id="content_description" class="form-text"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label  class="form-label">Content Status</label>
                                <div style="color: black"  id="content_status" class="form-text"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label  class="form-label">Content Saved Date</label>
                                <div style="color: black"  id="content_date" class="form-text"></div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label  class="form-label">Content Detail</label>
                                <div style="color: black"  id="content_detail" class="form-text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Accept</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END: Content-->
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
</th:block>


<th:block layout:fragment="contentJs">

    <!------------------------------------------------------ Editor Js - Start ------------------------------------------------------>
        <script src='https://cdn.quilljs.com/1.0.0/quill.js'></script>
    <!------------------------------------------------------ Editor Js - End -------------------------------------------------------->

    <!------------------------------------------------------ Sweet Alerts Js - Start ------------------------------------------------------>
        <script th:src="@{/app-assets/vendors/js/extensions/sweetalert2.all.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/extensions/polyfill.min.js}"></script>
    <!------------------------------------------------------ Sweet Alerts - End -------------------------------------------------------->

    <!------------------------------------------------------ Pagination Js - Start -------------------------------------------------------->
        <script th:src="@{/app-assets/vendors/js/pagination/jquery.bootpag.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/pagination/jquery.twbsPagination.min.js}"></script>
        <!-- <script th:src="@{/app-assets/js/scripts/pagination/components-pagination.js}"></script> -->
    <!------------------------------------------------------ Pagination Js - End ---------------------------------------------------------->

        <script th:src="@{/mainJs/contents.js}"></script>

</th:block>

</body>
<!-- END: Body-->

</html>
