<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>ForgotPassword</title>

  <link rel="stylesheet" th:href="@{/login/css/forgotPassword.css}">

</head>

<body>
  <!-- partial:index.partial.html -->
  <!-- NORMALIZED CSS INSTALLED-->
  <!-- View settings for more info.-->
  <div id="container" style="background-image: url(@{/login/images/background/background_img.jpg});">
    <div id="inviteContainer">
      <div class="logoContainer"><img class="text" th:src="@{/login/images/logo/logo.png}" />
        <h2 class="brand-text">Company All</h2>
      </div>
      <div class="acceptContainer">
        <form>
          <h1>Enter your mail address</h1>
          <div class="formContainer">
            <div class="formDiv" style="transition-delay: 0.2s">
              <p>MAIL</p>
              <input type="email" required="" autofocus />
            </div>
            <div class="formDiv" id="pass_fail" class="invalid-feedback" style="display: block; color: aliceblue;">
              <!-- Hata ifadeleri bu bölümde yazılacak. -->
            </div>
            <div class="formDiv" id="pass_success" class="valid-feedback" style="display: block; color: aliceblue;">
              <!-- Başarılı ifadeleri bu bölümde yazılacak. -->
            </div>
            <div class="formDiv" style="transition-delay: 0.6s">
              <button class="acceptBtn" type="submit">Confirm</button><span class="register"><a href="login.html">Go back to the login page</a></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- partial -->
  <script th:src="@{/login/js/jquery-3.2.1.min.js}"></script>
  <script th:src="@{/login/js/jquery-transit.js}"></script>
  <script th:src="@{/login/js/forgotPassword.js}"></script>


</body>

</html>