<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout"
      class="loading semi-dark-layout" lang="en" data-layout="semi-dark-layout" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Likes</title>

    <!------------------------------------------------------ Editor CSS - Start ------------------------------------------------------>
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/katex.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/monokai-sublime.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/quill.snow.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/quill.bubble.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-quill-editor.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/extensions/jquery.rateyo.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/extensions/ext-component-ratings.css}">
    <!------------------------------------------------------ Editor CSS - End -------------------------------------------------------->


</head>

<!-- BEGIN: Body-->
<body>

<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <!-- Basic Tables start - Total -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <div class="buttons">
                                    <label>
                                        Show
                                        <select class="custom-select form-control" id="showLikesCustomerSize">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="buttons">
                                    <p><strong>TOTAL LİKES</strong> </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="buttons">
                                    <input type="text" class="form-control" id="searchLikesCustomer" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Customer Name</th>
                                    <th>Product Name</th>
                                    <th>Rating</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody style="font-size: 14px;" id="totalLikeTableBody">
                                <tr>
<!--                                    <td>1</td>-->
<!--                                    <td>Event Transfer</td>-->
<!--                                    <td>Active</td>-->
<!--                                    <td><div class="read-only-ratings" data-rateyo-read-only="true"></div></td>-->
<!--                                    <td>09-10-2021</td>-->
<!--                                    <td>-->
<!--                                        <button type="button"-->
<!--                                                                class="btn btn-danger"-->
<!--                                                                data-toggle="dropdown">-->
<!--                                                                <i data-feather='trash-2'></i>-->
<!--                                                            </button>-->
<!--                                        </td>-->
<!--                                </tr>-->

                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="pagination firstLast1-links justify-content-end " id="pagination_likesCustomer"></ul>
            </div>
        </div>

        <!-- Basic Tables start - Product -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <div class="buttons">
                                    <label>
                                        Show
                                        <select class="custom-select form-control">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="buttons">
                                    <p><strong>PRODUCT LIKES</strong> </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="buttons">
                                    <input type="text" class="form-control" id="basicInput" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Product Name</th>
                                    <th>Rating</th>

                                </tr>
                            </thead>
                            <tbody style="font-size: 14px;" id="productLikeTableBody">

                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="pagination firstLast1-links justify-content-end " id="pagination_likesProduct"></ul>
            </div>
        </div>


    </div>
    <!-- END: Content-->
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
</th:block>





<th:block layout:fragment="contentJs">
    <!------------------------------------------------------ Editor Js - Start ------------------------------------------------------>
        <script th:src="@{/app-assets/vendors/js/editors/quill/katex.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/editors/quill/highlight.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/editors/quill/quill.min.js}"></script>
        <script th:src="@{/app-assets/js/scripts/forms/form-quill-editor.js}"></script>
        <script th:src="@{/app-assets/vendors/js/extensions/jquery.rateyo.min.js}"></script>
    <!------------------------------------------------------ Editor Js - End -------------------------------------------------------->

    <!------------------------------------------------------ Pagination Js - Start -------------------------------------------------------->
        <script th:src="@{/app-assets/vendors/js/pagination/jquery.bootpag.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/pagination/jquery.twbsPagination.min.js}"></script>
        <script th:src="@{/app-assets/js/scripts/pagination/components-pagination.js}"></script>
    <!------------------------------------------------------ Pagination Js - End ---------------------------------------------------------->
    <script th:src="@{/mainJs/likes.js}"></script>

</th:block>


</body>
<!-- END: Body-->
</html>