<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout"
      class="loading semi-dark-layout" lang="en" data-layout="semi-dark-layout" data-textdirection="ltr">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>New List</title>
    <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/ico/favicon.png">

<!------------------------------------------------------ News List CSS - Start -------------------------------------------------------->

    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/extensions/nouislider.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/extensions/toastr.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/extensions/ext-component-sliders.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/pages/app-ecommerce.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/extensions/ext-component-toastr.css}">

<!------------------------------------------------------ News List CSS - End   -------------------------------------------------------->

</head>

<!-- BEGIN: Body-->
<body>

<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ecommerce-application">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            
            <div class="content-detached content-right">
                <div class="content-body">
                    <!-- E-commerce Content Section Starts -->
                    <section id="ecommerce-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ecommerce-header-items">
                                    <div class="result-toggler">
                                        <button class="navbar-toggler shop-sidebar-toggler" type="button" data-toggle="collapse">
                                            <span class="navbar-toggler-icon d-block d-lg-none"><i data-feather="menu"></i></span>
                                        </button>
                                    </div>
                                    <div class="view-options d-flex">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-icon btn-outline-primary view-btn grid-view-btn">
                                                <input type="radio" name="radio_options" id="radio_option1" checked />
                                                <i data-feather="grid" class="font-medium-3"></i>
                                            </label>
                                            <label class="btn btn-icon btn-outline-primary view-btn list-view-btn">
                                                <input type="radio" name="radio_options" id="radio_option2" />
                                                <i data-feather="list" class="font-medium-3"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- E-commerce Content Section Starts -->

                    <!-- background Overlay when sidebar is shown  starts-->
                    <div class="body-content-overlay"></div>
                    <!-- background Overlay when sidebar is shown  ends-->

                    <!-- E-commerce Search Bar Starts -->
                    <section id="ecommerce-searchbar" class="ecommerce-searchbar">
                        <div class="row mt-1">
                            <div class="col-sm-12">
                                <div class="input-group input-group-merge">
                                    <input type="text" class="form-control search-product" id="searchNewsList" placeholder="Search News" aria-label="Search..." aria-describedby="shop-search" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i data-feather="search" class="text-muted"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- E-commerce Search Bar Ends -->

                    <!-- E-commerce Products Starts -->
                    <section id="news" class="grid-view">

                    </section>
                    <!-- E-commerce Products Ends -->

                    <!-- E-commerce Pagination Starts -->
                    <ul class="pagination firstLast1-links justify-content-center mt-2" id="pagination_newsList"></ul>
                    <!-- E-commerce Pagination Ends -->

                </div>
            </div>

            <div class="sidebar-detached sidebar-left">
                <div class="sidebar">
                    <!-- Ecommerce Sidebar Starts -->
                    <div class="sidebar-shop">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="filter-heading d-none d-lg-block">Filters</h6>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <!-- Categories Starts -->
                                <div id="product-categories">
                                    <h6 class="filter-title"><strong>Categories</strong></h6>
                                    <select class="select2 form-control form-control-lg" id="categoryFilter">

                                    </select>
                                </div>
                                <!-- Categories Ends -->
                            </div>
                        </div>
                    </div>
                    <!-- Ecommerce Sidebar Ends -->
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

</th:block>


<th:block layout:fragment="contentJs">
    <!------------------------------------------------------ Products List Js - Start -------------------------------------------------------->

        <script th:src="@{/app-assets/vendors/js/extensions/wNumb.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/extensions/nouislider.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/extensions/toastr.min.js}"></script>
        <script th:src="@{/app-assets/js/scripts/pages/app-ecommerce.js}"></script>

    <!------------------------------------------------------ Products List Js - End   -------------------------------------------------------->

    <!------------------------------------------------------ Pagination Js - Start -------------------------------------------------------->
        <script th:src="@{/app-assets/vendors/js/pagination/jquery.bootpag.min.js}"></script>
        <script th:src="@{/app-assets/vendors/js/pagination/jquery.twbsPagination.min.js}"></script>
        <script th:src="@{/app-assets/js/scripts/pagination/components-pagination.js}"></script>
    <!------------------------------------------------------ Pagination Js - End ---------------------------------------------------------->
    <script th:src="@{/mainJs/newsList.js}"></script>

</th:block>

</body>
<!-- END: Body-->
</html>
