<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout"
      class="loading semi-dark-layout" lang="en" data-layout="semi-dark-layout" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Settings</title>

    <!------------------------------------------------------ Map CSS - Start   -------------------------------------------------------->
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/maps/leaflet.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/maps/map-leaflet.css}">
    <!------------------------------------------------------ Map CSS - End     -------------------------------------------------------->

    <!------------------------------------------------------ Date CSS - Start   -------------------------------------------------------->
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/pickers/pickadate/pickadate.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/pickers/form-flat-pickr.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/pickers/form-pickadate.css}">
    <!------------------------------------------------------ Date CSS - End     -------------------------------------------------------->



</head>

<!-- BEGIN: Body-->
<body>

<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-body">
            <!-- account setting page -->
            <section id="page-account-settings">
                <div class="row">
                    <!-- left menu section -->
                    <div class="col-md-3 mb-2 mb-md-0">
                        <ul class="nav nav-pills flex-column nav-left">
                            <!-- general -->
                            <li class="nav-item">
                                <a class="nav-link active" id="account-pill-general" data-toggle="pill" href="#account-vertical-general" aria-expanded="true">
                                    <i class="font-medium-3 mr-1 far far fa-building"></i>
                                    <span class="font-weight-bold">Company</span>
                                </a>
                            </li>
                            <!-- change password -->
                            <li class="nav-item">
                                <a class="nav-link" id="account-pill-password" data-toggle="pill" href="#account-vertical-password" aria-expanded="false">
                                    <i data-feather="lock" class="font-medium-3 mr-1"></i>
                                    <span class="font-weight-bold">Change Password</span>
                                </a>
                            </li>
                            <!-- information -->
                            <li class="nav-item">
                                <a class="nav-link" id="account-pill-info" data-toggle="pill" href="#account-vertical-info" aria-expanded="false">
                                    <i data-feather="user" class="font-medium-3 mr-1"></i>
                                    <span class="font-weight-bold">User</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <!--/ left menu section -->

                    <!-- right content section -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content">
                                    <!-- general tab -->
                                    <div role="tabpanel" class="tab-pane active" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">
                                        <!-- header media -->
                                        <div class="media">
                                            <p id="profile_image_warning" class="mr-2" style="color: red"></p>
                                            <img id="profile_image" class="rounded mr-50" height="80" width="80" />
                                            <!-- upload and reset button -->
                                            <form id="image_upload_form">
                                                <div class="media-body mt-75 ml-1">
                                                    <label for="profile_image_input" class="btn btn-sm btn-primary mb-75 mr-75">Upload</label>
                                                    <input type="file" id="profile_image_input" hidden accept="image/*" />
                                                    <button class="btn btn-sm btn-outline-success mb-75" type="submit">Save</button>
                                                </div>
                                            </form>
                                            <!--/ upload and reset button -->
                                        </div>
                                        <!--/ header media -->

                                        <!-- form -->
                                        <form class="validate-form mt-2" id="companyInfo_form">
                                            <div class="row">
                                                <div class="col-12 col-sm-4">
                                                    <div class="form-group">
                                                        <label for="settings-companyName">Company</label>
                                                        <input th:value="${user.companyName}" type="text" class="form-control" id="settings-companyName"  placeholder="Company name" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="form-group">
                                                        <label for="settings-companySector">Company Sector</label>
                                                        <select class="select2 form-control" id="settings-companySector" th:field="${user.companySector}">
                                                            <option value="Justice and Security">Justice and Security</option>
                                                            <option value="Engineering">Engineering</option>
                                                            <option value="Software">Software</option>
                                                            <option value="Tourism">Tourism</option>
                                                            <option value="Education">Education</option>
                                                            <option value="Energy">Energy</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="form-group">
                                                        <label for="settings-companyPhone">Phone</label>
                                                        <input th:value="${user.companyPhone}" type="text" class="form-control" id="settings-companyPhone" placeholder="Phone" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="settings-companyAddress">Address</label>
                                                        <textarea th:text="${user.companyAddress}" type="text" class="form-control" id="settings-companyAddress" placeholder="Address"></textarea>
                                                    </div>
                                                </div>
                                                <!-- User Location Starts -->
                                                <div class="col-12">
                                                    <div class="card mb-4">
                                                        <div class="card-header">
                                                            <h4 class="card-title">User Location</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="leaflet-map" id="user-location"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /User Location Ends -->

                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary mt-2 mr-1">Save changes</button>
                                                    <button type="reset" class="btn btn-outline-secondary mt-2">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </div>
                                    <!--/ general tab -->

                                    <!-- change password -->
                                    <div class="tab-pane fade" id="account-vertical-password" role="tabpanel" aria-labelledby="account-pill-password" aria-expanded="false">
                                        <!-- form -->
                                        <form class="validate-form" id="changePassword_form">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-old-password">Old Password</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input type="password" class="form-control" id="account-old-password" name="old-password" placeholder="Old Password" />
                                                            <div class="input-group-append">
                                                                <div class="input-group-text cursor-pointer">
                                                                    <i data-feather="eye"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-new-password">New Password</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input type="password" id="account-new-password" name="new-password" class="form-control" placeholder="New Password" />
                                                            <div class="input-group-append">
                                                                <div class="input-group-text cursor-pointer">
                                                                    <i data-feather="eye"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-retype-new-password">Retype New Password</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input type="password" class="form-control" id="account-retype-new-password" name="confirm-new-password" placeholder="New Password" />
                                                            <div class="input-group-append">
                                                                <div class="input-group-text cursor-pointer"><i data-feather="eye"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary mr-1 mt-1">Save changes</button>
                                                    <button type="reset" class="btn btn-outline-secondary mt-1">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </div>
                                    <!--/ change password -->

                                    <!-- information -->
                                    <div class="tab-pane fade" id="account-vertical-info" role="tabpanel" aria-labelledby="account-pill-info" aria-expanded="false">
                                        <!-- form -->
                                        <form class="validate-form" id="userInfo_form">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group" >
                                                        <label for="settings-name">Name</label>
                                                        <input th:value="${user.name}" type="text" class="form-control" id="settings-name" placeholder="Name" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group" >
                                                        <label for="settings-surname">Surname</label>
                                                        <input th:value="${user.surname}" type="text" class="form-control" id="settings-surname" placeholder="Surname" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group" >
                                                        <label for="settings-Email">E-Mail</label>
                                                        <input th:value="${user.email}" type="email" class="form-control" id="settings-Email" name="email" placeholder="Email" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group" >
                                                        <label for="settings-birtDate">Birth Date</label>
                                                        <input th:value="${user.birthday}" type="text" id="settings-birtDate" class="form-control flatpickr-human-friendly" placeholder="Birth Date"/>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="settings-bio">Bio</label>
                                                        <textarea th:text="${user.bio}" class="form-control" id="settings-bio" rows="4" placeholder="Your Bio data here..."></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary mt-1 mr-1">Save changes</button>
                                                    <button type="reset" class="btn btn-outline-secondary mt-1">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </div>
                                    <!--/ information -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ right content section -->
                </div>
            </section>
            <!-- / account setting page -->

        </div>

    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
</th:block>


<th:block layout:fragment="contentJs">

    <!------------------------------------------------------ Select2 Js - Start -------------------------------------------------------->
        <script th:src="@{/app-assets/vendors/js/forms/select/select2.full.min.js}"></script>
        <script th:src="@{/app-assets/js/scripts/forms/form-select2.js}"></script>
    <!------------------------------------------------------ Select2 Js - End   -------------------------------------------------------->

    <!------------------------------------------------------ Map Js - Start   -------------------------------------------------------->
        <script th:src="@{/app-assets/vendors/js/maps/leaflet.min.js}"></script>
        <script th:src="@{/app-assets/js/scripts/maps/map-leaflet.js}"></script>
    <!------------------------------------------------------ Map Js - End     -------------------------------------------------------->

    <!------------------------------------------------------ Date Js - Start   -------------------------------------------------------->
        <script th:src="@{/app-assets/vendors/js/pickers/pickadate/picker.js}"></script>
        <script th:src="@{/app-assets/vendors/js/pickers/pickadate/picker.date.js}"></script>
        <script th:src="@{/app-assets/vendors/js/pickers/pickadate/picker.time.js}"></script>
        <script th:src="@{/app-assets/vendors/js/pickers/pickadate/legacy.js}"></script>
        <script th:src="@{/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js}"></script>
        <script th:src="@{/app-assets/js/scripts/forms/pickers/form-pickers.js}"></script>
    <!------------------------------------------------------ Date Js - End     -------------------------------------------------------->

        <script th:src="@{/mainJs/settings.js}"></script>

</th:block>


</body>
<!-- END: Body-->
</html>