<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>ForgotPassword</title>
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/animate/animate.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/extensions/sweetalert2.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/extensions/ext-component-sweet-alerts.css}">
  <link rel="stylesheet" th:href="@{/login/css/forgotPassword.css}">
  <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/ico/favicon.png">

</head>

<body>
  <!-- partial:index.partial.html -->
  <!-- NORMALIZED CSS INSTALLED-->
  <!-- View settings for more info.-->
  <div id="container" style="background-image: url(@{/login/images/background/background_img.jpg});">
    <div id="inviteContainer">
      <div class="logoContainer"><img class="text" th:src="@{/login/images/logo/logo.png}" />
        <h2 class="brand-text">Company All</h2>
      </div>
      <div class="acceptContainer">
        <form id="forgot_password_form">
          <h1>Enter your mail address</h1>
          <div class="formContainer">
            <div class="formDiv" style="transition-delay: 0.2s">
              <p>MAIL</p>
              <input type="email" id="email" required="" autofocus />
            </div>
            <div class="formDiv" style="transition-delay: 0.6s">
              <button class="acceptBtn" type="submit">Confirm</button><span class="register"><a href="login.html">Go back to the login page</a></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- partial -->
  <script th:src="@{/app-assets/vendors/js/extensions/sweetalert2.all.min.js}"></script>
  <script th:src="@{/app-assets/vendors/js/extensions/polyfill.min.js}"></script>
  <script th:src="@{/login/js/jquery-3.2.1.min.js}"></script>
  <script th:src="@{/login/js/jquery-transit.js}"></script>
  <script th:src="@{/login/js/forgotPassword.js}"></script>
  <script th:src="@{/mainJs/forgotPassword.js}"></script>


</body>

</html>