<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>NewPassword</title>
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/animate/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/extensions/sweetalert2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/extensions/ext-component-sweet-alerts.css}">
    <link rel="stylesheet" th:href="@{/login/css/newPassword.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/ico/favicon.png">

</head>

<body>

    <div id="container" style="background-image: url(/login/images/background/background_img.jpg);">
        <div id="inviteContainer">
            <div class="logoContainer"><img class="text" th:src="@{/login/images/logo/logo.png}" />
                <h2 class="brand-text">Company All</h2>
            </div>
            <div class="acceptContainer">
                <form id="new_password_form">
                    <h1>Enter your new password</h1>
                    <div class="formContainer">
                        <div class="formDiv" style="transition-delay: 0.4s">
                            <p>NEW PASSWORD</p>
                            <input type="password" id="new_password" required/>
                        </div>
                        <div class="formDiv" style="transition-delay: 0.4s">
                            <p>NEW PASSWORD (AGAIN)</p>
                            <input type="password" id="new_password_check" required/>
                        </div>
                        <div class="formDiv invalid-feedback" id="pass_fail"
                            style="display: block; color: aliceblue;">
                            <!-- Hata ifadeleri bu bölümde yazılacak. -->
                        </div>
                        <div class="formDiv valid-feedback" id="pass_success"
                            style="display: block; color: aliceblue;">
                            <!-- Başarılı ifadeleri bu bölümde yazılacak. -->
                        </div>
                        <div class="formDiv" style="transition-delay: 0.6s">
                            <button class="acceptBtn" type="submit">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/app-assets/vendors/js/extensions/sweetalert2.all.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/extensions/polyfill.min.js}"></script>
    <script th:src="@{/login/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/login/js/jquery-transit.js}"></script>
    <script th:src="@{/login/js/newPassword.js}"></script>
    <script th:src="@{/mainJs/newPassword.js}"></script>

</body>
</html>